<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NASAC</title>
     
    <link rel="stylesheet" href="styles.css"> 
    <link rel="stylesheet" href="stylespage.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--Inicio del Header-->
      <ul class="navigation">
        <li><a href="#">
          <div>
            <img src="images/logo.png" alt="" width="120">
          </div>
        </a></li>
        <li><a href="Index.html">Home</a></li>
        <li><a href="juegos.html">Juegos</a></li>
        <li><a href="About us.html">¿Quienes somos?</a></li>
        <li><a href="contacto.html">Logueate</a></li>
      </ul>
      
       <!--Inicio del body-->
      <div class="body">
        <div class="main">
          <img src="img/background.png" class="background-img" alt="">
        </div>
        <br><br>

        <div class="categories">
            
            
             
              <h2>ACA VAN A ESTAR LAS IMAGENES </h2>
              <p>
              <br>
              <br>
              <br>
              <br>
              <br>
              </p>
            </div>
          
        </div>
        <br>
        

        <div class="container">
          <h1 class="page-title"></h1>
          <img src="images/" alt="" class="background-img">
        </div>
       
        <div class="card2">
          <img src="" width="350" alt="" class="img-sg">
          <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Rerum delectus necessitatibus quis id, tempore fugit. Illum fuga, at praesentium reprehenderit explicabo non ipsam, distinctio assumenda et odio quis, eos vel.</p>
          <div class="contenido" >
            <h3 style="font-size: 30px;"></h3>
            <p style="font-size: 20px;"></p>
            <br>
            <a href="http://turismo.chaco.gob.ar/" class="btn" target="_">más info</a>
          </div>
        </div>
        

       
       <!--Fin del body-->
                  
      </div>

      <!--Inicio del footer-->
      <footer class="footer">
        <div class="container">
                <div class="footer-col-1">
                <img src="images/logo.png" alt="" class="img-footer">
                
                </div>
                <div class="footer-col-2">
                  <h3>Our Company</h3>
                  <ul>
                    <li>About Us</li>
                    <li></li>
                    <li></li>
                    <li>Contact</li>
                  </ul>
              </div>
              <div class="footer-col-3">
                  <h3>Follow Us</h3>
        <ul>
          <li><a href="https://es-la.facebook.com/pg/posts/" target="_blank">Facebook</a></li>
          <li><a href="https://www.instagram.com/?hl=es/" target="_blank">Instagram</a></li>
          <li><a href="https://www.youtube.com/channel/" target="_blank">Youtube</a></li>
          <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
        </ul>
              </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2021 - NASAC</p>

             <img style="border:0;width:88px;height:31px">
            
          
        
          
    </footer>
  </body>
</html>
