<!DOCTYPE html>
<html>
  <head>
    <title>Juegos</title>
    <meta charset="UTF-8">
     
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylespage.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
      <!--Start Nav-bar-->
      <header>
        <ul class="navigation">
          <li><a href="index.html">
            <img src="images/guitarra.png" alt="" width="120">
          </a></li>
        <li><a href="Index.html">Home</a></li>
        <li><a href="juegos.html">Juegos</a></li>
        <li><a href="About us.html">¿Quienes somos?</a></li>
        <li><a href="contacto.html">Logueate</a></li>
        </ul>
      </header>
      <!--Start article history-->
      
      <div class="history">
        
        
        </div>
      </div>
     <!--Start Parts of guitar-->
     <h1>Aca pode juga ñeri</h1>
      <section class="parts">
        
        <div>
        </div>
          

        <!---->
      </section>  
      <br><br>
      <section>
        <div>
          
        </div>
          
        
      </section>
      
        
      <!--Start Table-->
      <div class="table-container">
        <h1 class="page-title">En lugar de la tabla pongan el juego aca</h1>
          <table class="juego">
             <thead>
               <tr>
                <th>Juego</th>
                <th>juego</th>
                <th>Puntaje</th>
               </tr>
             </thead>  
             <tbody>
               <tr>
                <td>asdasd</td>
                <td>asdasd</td>
                <td>asdsda</td>
               </tr>
               <tr>
                <td>asdsad</td>
                <td>asdasd</td>
                <td>assadsd5</td>
              </tr>
              
             </tbody>
          </table>
      </div>
      <br><br>
     
     <!--Start Footer-->
      <footer class="footer">
          <div class="container">
                  <div class="footer-col-1">
                      <img src="images/" alt="" class="img-footer">
                  </div>
                  <div class="footer-col-2">
                    <h3>Our Company</h3>
                    <ul>
                      <li>About Us</li>
                     <li>Contact</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow Us</h3>
        <ul>
          <li><a href="https://es-la.facebook.com/pg/posts/" target="_blank">Facebook</a></li>
          <li><a href="https://www.instagram.com/dinobartoloni/?hl=es/" target="_blank">Instagram</a></li>
          <li><a href="hhttps://www.youtube.com/channel" target="_blank">Youtube</a></li>
          <li><a href="https://twitter.com/bluetrailsoft?lang=es" target="_blank">Twitter</a></li>
        </ul>
                </div>
          </div>
          <hr>
          <p class="Copyright">Copyright 2021 - NASAC</p>
                    
              </a></p>
      </footer>
  </body>
</html>